<!DOCTYPE html>
<html lang="en">
<head>
  {{ content_for_header }}
  {{ 'theme.css' | asset_url | stylesheet_tag }}
  
</head>
<body>
  <header>{% section 'header' %}</header>
  <main id="main" role="main"> {{ content_for_layout }} </main>
  <footer>{% section 'footer' %}</footer>

  <script type="text/javascript" src="{{ 'bundle.js' | asset_url }}" defer></script>
</body>
</html>