<a href="/" title="Tennis Shop Inicio" class="header-logo">
    <img width="" height="" src="{{ 'store-logo.webp' | asset_url }}" alt="Tennis Shop Logo">
</a>
<a href="#" class="navbar-toggle"><span></span></a>
<nav class="header-navbar navbar-collapse">
    <ul>
        <li><a href="/" title="Inicio" class="active">Inicio</a></li>
        <li><a href="/pages/acerca-de" title="Acerca de nosotros">Acerca de nosotros</a></li>
        <li><a href="/pages/historia" title="Historia">Historia</a></li>
        <li><a href="/pages/contacto" title="Contacto">Contacto</a></li>
        {% comment %} {% if section.block.size == 0 %}
            <li><a href="/">Inicio</a></li>
            <li><a href="/pages/acerca-de">Acerca de nosotros</a></li>
            <li><a href="/pages/historia">Historia</a></li>
            <li><a href="/pages/contacto">Contacto</a></li>
        {% else %}
            {% for block in section.block %}
                <li><a href="{{ block.settings.link }}">{{ block.settings.text }}</a></li>
            {% endfor %}
        {% endif %} {% endcomment %}
    </ul>
</nav>

<div class="header-langs">
    <a href="https://tennis-store-jatz-gm-test.myshopify.com/" title="Tennis Shop en Español">ES</a>
    <a href="https://en.tennis-store-jatz-gm-test.myshopify.com/" title="Tennis Shop in English">EN</a>
</div>
{% schema %}
{
    "name":"Header",
    "settings":[],
    "blocks":[
        {
            "name":"Links",
            "type":"links",
            "limit":5,
            "settings":[
                {
                    "type":"text",
                    "id":"text",
                    "label":"Text",
                    "default":"link"
                },
                {
                    "type":"url",
                    "id":"link",
                    "label":"Link"
                }
            ]
        }
    ],
    "presets":[
        {
            "name":"header"
        }
    ]
}
{% endschema %}