<section class="our-history">
    <div class="our-history__title-wrap">
        <span class="our-history--tag">Tennis</span>
        <h3 class="our-history--title">Raquetas.Accesorios.<span>Pelotas.</span></h3>
        <p class="our-history__description-text">Conoce nuestras raquetas y aprende a jugar Tennis cómo un profesional.</p>
        <a href="/pages/historia" title="Conoce nuestra historia" class="our-history__main-link">Historia <span>&#8594;</span></a>
    </div>
</section>