/*!***************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/less-loader/dist/cjs.js!./src/styles/base.less ***!
  \***************************************************************************************************************/
header .shopify-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
header .header-logo {
  display: inline-block;
  margin-top: 25px;
  margin-left: 36px;
}
header .header-logo img {
  max-width: 37px;
}
header .navbar-toggle {
  transition: 0.3s ease background, 0.3s ease transform;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-top: 25px;
  margin-left: 30px;
  background-color: transparent;
  border: solid 1px #fff;
  cursor: pointer;
  position: relative;
}
@media (min-width: 768px) {
  header .navbar-toggle {
    display: none;
  }
}
header .navbar-toggle:hover {
  background: #fff;
}
header .navbar-toggle:hover span {
  background: #000;
}
header .navbar-toggle:hover:before,
header .navbar-toggle:hover:after {
  background: #000;
}
header .navbar-toggle.open {
  background: #fff;
  z-index: 2;
  transform: translate(calc(67vw - 110px), -10px);
}
@media (min-width: 768px) {
  header .navbar-toggle.open {
    display: none;
  }
}
header .navbar-toggle.open span {
  opacity: 0;
}
header .navbar-toggle.open:before {
  transform: rotate(-45deg) translate(-5px, 5px);
  background: #000;
}
header .navbar-toggle.open:after {
  transform: rotate(45deg) translate(-6px, -6px);
  background: #000;
}
header .navbar-toggle:before,
header .navbar-toggle:after,
header .navbar-toggle span {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 25px;
  height: 2px;
}
header .navbar-toggle:before {
  transition: 0.3s ease transform, 0.3s ease background;
  content: '';
  position: absolute;
  top: 11px;
  background: #fff;
}
header .navbar-toggle:after {
  transition: 0.3s ease transform, 0.3s ease background;
  content: '';
  position: absolute;
  bottom: 9px;
  background: #fff;
}
header .navbar-toggle span {
  transition: 0.3s ease opacity, 0.3s ease background;
  display: block;
  position: absolute;
  top: 19px;
  background: #fff;
  pointer-events: none;
}
header .header-navbar {
  transition: 0.3s ease height, 0.3s ease transform;
  width: 100%;
  order: 1;
  margin-top: 25px;
  height: 0;
  overflow: hidden;
}
header .header-navbar.open {
  transform: translateX(0);
}
@media (max-width: 767px) {
  header .header-navbar {
    height: 100vh;
    position: fixed;
    top: 0;
    margin-top: 0;
    z-index: 1;
    width: 80%;
    transform: translateX(-110%);
    box-shadow: -12px 0px 10px 20px rgba(0, 0, 0, 0.47);
  }
}
@media (min-width: 768px) {
  header .header-navbar {
    margin-top: 54px;
    margin-left: 60px;
    order: 0;
    width: auto;
    height: auto;
    overflow: visible;
  }
}
@media (min-width: 992px) {
  header .header-navbar {
    margin-left: 100px;
  }
}
header .header-navbar ul {
  display: flex;
  flex-flow: column wrap;
  list-style: none;
  padding: 0 15px;
  margin: 0;
  background: #1e2335;
}
@media (max-width: 767px) {
  header .header-navbar ul {
    height: 100%;
    padding-top: 50px;
  }
}
@media (min-width: 768px) {
  header .header-navbar ul {
    flex-flow: row wrap;
    background: transparent;
    padding: 0;
  }
}
header .header-navbar ul li {
  width: 100%;
}
@media (min-width: 768px) {
  header .header-navbar ul li {
    margin-right: 30px;
    width: auto;
  }
}
@media (min-width: 992px) {
  header .header-navbar ul li {
    margin-right: 58px;
  }
}
header .header-navbar ul li a {
  display: block;
  line-height: 45px;
  color: #fff;
  letter-spacing: 1.8px;
  font-size: 16px;
  font-weight: 300;
  position: relative;
}
@media (min-width: 768px) {
  header .header-navbar ul li a {
    display: inline-block;
    line-height: 1;
  }
}
header .header-navbar ul li a.active {
  font-weight: 700;
}
header .header-navbar ul li a.active:before {
  opacity: 1;
}
header .header-navbar ul li a:before {
  transition: 0.3s ease opacity;
  content: "";
  position: absolute;
  bottom: 7px;
  left: 0;
  width: 17px;
  height: 2px;
  background: #fff;
  opacity: 0;
  pointer-events: none;
}
@media (min-width: 768px) {
  header .header-navbar ul li a:before {
    bottom: -14px;
  }
}
header .header-navbar ul li a:hover:before {
  opacity: 1;
}
header .header-navbar ul li:last-child {
  margin-right: 0;
}
header .header-langs {
  margin-left: auto;
  margin-top: 35px;
  margin-right: 30px;
}
@media (min-width: 768px) {
  header .header-langs {
    margin-top: 54px;
    margin-right: 60px;
  }
}
@media (min-width: 992px) {
  header .header-langs {
    margin-right: 104px;
  }
}
header .header-langs a {
  display: inline-block;
  color: #fff;
  letter-spacing: 1.2px;
  font-size: 12px;
  font-weight: 300;
  margin-right: 12px;
  position: relative;
}
header .header-langs a:before {
  transition: 0.3s ease width;
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  pointer-events: none;
}
header .header-langs a:hover:before {
  width: 100%;
}
header .header-langs a:last-child {
  margin-right: 0;
}
.hero-banner {
  position: relative;
  display: flex;
}
.hero-banner img {
  width: 100%;
}
@media (max-width: 767px) {
  .hero-banner img {
    min-height: 400px;
    object-fit: cover;
  }
}
.hero-banner__text-wrap {
  position: absolute;
  top: 30%;
  left: 30px;
}
@media (min-width: 768px) {
  .hero-banner__text-wrap {
    top: 30%;
    left: 133px;
  }
}
@media (min-width: 992px) {
  .hero-banner__text-wrap {
    top: 36.1%;
    left: 173px;
  }
}
.hero-banner__banner-text {
  color: #fff;
  font-size: 9vw;
  line-height: 9vw;
  letter-spacing: -0.05px;
  font-weight: 400;
  max-width: 670px;
  margin: 0;
}
@media (min-width: 768px) {
  .hero-banner__banner-text {
    font-size: 53px;
    line-height: 68px;
    max-width: 600px;
  }
}
@media (min-width: 992px) {
  .hero-banner__banner-text {
    max-width: 650px;
  }
}
.hero-banner__main-link {
  display: block;
  transition: 0.3s ease color, 0.3s ease background;
  margin-top: 34px;
  color: #fff;
  font-size: 13px;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  width: 269px;
  line-height: 51px;
  padding-left: 30px;
  border: solid 1px #fff;
  border-radius: 50px;
}
.hero-banner__main-link span {
  transition: 0.3s ease transform;
  display: inline-block;
  position: relative;
  top: 1px;
  font-size: 23px;
  line-height: 23px;
}
.hero-banner__main-link:hover {
  background: #fff;
  color: #000;
}
.hero-banner__main-link:hover span {
  transform: translateX(5px);
}
.hero-banner .highlight {
  color: #cbe346;
  font-weight: 700;
}
.hero-banner:before {
  content: "";
  position: absolute;
  top: 0;
  left: 15px;
  background: #fff;
  width: 2px;
  height: 105%;
}
@media (min-width: 768px) {
  .hero-banner:before {
    left: 104px;
  }
}
.our-history {
  background: #f3f4f8;
  position: relative;
  padding-top: 90px;
  padding-bottom: 80px;
}
.our-history__title-wrap {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  max-width: 690px;
  margin: 0 auto;
  padding: 0 30px;
}
@media (min-width: 768px) {
  .our-history__title-wrap {
    padding: 0;
    flex-flow: row wrap;
  }
}
@media (min-width: 992px) {
  .our-history__title-wrap {
    margin-left: auto;
  }
}
@media (min-width: 1400px) {
  .our-history__title-wrap {
    margin-left: 33.5%;
  }
}
.our-history--tag {
  display: block;
  width: 100%;
  color: #cbe346;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1.9px;
  font-weight: 400;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .our-history--tag {
    position: absolute;
    left: -116px;
    top: 21px;
    margin-bottom: 0;
  }
}
.our-history--title {
  color: #1e2335;
  font-size: clamp(20px, 8vw, 50px);
  line-height: 1.3;
  letter-spacing: -0.06px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .our-history--title {
    font-size: 50px;
    line-height: 57px;
  }
}
.our-history--title span {
  display: block;
}
.our-history__description-text {
  color: #787878;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.5px;
  font-size: 18px;
  max-width: 395px;
  width: 100%;
  margin-bottom: 0;
  margin-top: 44px;
}
@media (min-width: 768px) {
  .our-history__description-text {
    margin-top: 44px;
  }
}
.our-history__main-link {
  display: block;
  transition: 0.3s ease color, 0.3s ease background;
  color: #000;
  font-size: 13px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  width: 234px;
  line-height: 51px;
  padding-left: 36px;
  border: solid 1px #000;
  border-radius: 50px;
  margin-top: 30px;
}
@media (min-width: 768px) {
  .our-history__main-link {
    position: absolute;
    right: 0;
    bottom: -11px;
    margin-top: 0;
  }
}
@media (min-width: 992px) {
  .our-history__main-link {
    right: -100px;
  }
}
.our-history__main-link span {
  transition: 0.3s ease transform;
  display: inline-block;
  position: relative;
  top: 2px;
  font-size: 24px;
  line-height: 23px;
  margin-left: 62px;
}
.our-history__main-link:hover {
  background: #000;
  color: #fff;
}
.our-history__main-link:hover span {
  transform: translateX(5px);
}
.large-bottom-image {
  display: flex;
}
.large-bottom-image img {
  width: 100%;
  min-height: 280px;
  object-fit: cover;
  object-position: left;
}
footer {
  background: #cbe346;
  padding-top: 73px;
  padding-bottom: 71px;
  padding-left: 77px;
  padding-right: 30px;
}
@media (min-width: 768px) {
  footer {
    padding-right: 63px;
  }
}
footer .shopify-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
footer .links-wrap .footer-nav-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}
footer .links-wrap .footer-nav-links li {
  margin-right: 43px;
  width: 100%;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  footer .links-wrap .footer-nav-links li {
    width: auto;
    margin-bottom: 0;
  }
}
footer .links-wrap .footer-nav-links li a {
  color: #2b3049;
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1.2px;
  position: relative;
}
footer .links-wrap .footer-nav-links li a:before {
  transition: 0.3s ease width;
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  opacity: 0.8;
  background: #2b3049;
  pointer-events: none;
}
footer .links-wrap .footer-nav-links li a.active {
  font-weight: 700;
}
footer .links-wrap .footer-nav-links li a:hover {
  color: #2b3049;
}
footer .links-wrap .footer-nav-links li a:hover:before {
  width: 100%;
}
footer .links-wrap .social-links {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 24px;
}
footer .links-wrap .social-links li {
  display: inline-block;
  margin-right: 10px;
}
footer .links-wrap .social-links li a {
  transition: 0.3s ease border-color, 0.3s ease background;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 33px;
  color: #fff;
  border: solid 1px #fff;
  border-radius: 50%;
  text-decoration: none;
}
footer .links-wrap .social-links li a img {
  width: 13px;
}
footer .links-wrap .social-links li a:hover {
  background: #000;
  border-color: #000;
}
footer .footer-logo {
  display: inline-block;
  margin-left: auto;
  width: 100%;
  margin-top: 25px;
}
@media (min-width: 768px) {
  footer .footer-logo {
    margin-top: 4px;
    width: auto;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}
body:before {
  transition: 0.3s ease opacity;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: transparent;
  backdrop-filter: blur(3px);
  z-index: 0;
  opacity: 0;
  pointer-events: none;
}
body.navbar-open:before {
  opacity: 1;
  z-index: 1;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url(../assets/HelveticaNeueLight.woff2) format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url(../assets/HelveticaNeueRoman.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url(../assets/HelveticaNeueMedium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url(../assets/HelveticaNeueHeavy.woff2) format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url(../assets/HelveticaNeueBold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url(../assets/HelveticaNeueBlack.woff2) format('woff2');
  font-weight: 900;
  font-style: normal;
}

